attrs==19.1.0
Automat==0.7.0
backcall==0.1.0
baidu-aip==2.2.17.0
beautifulsoup4==4.7.1
bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
h11==0.7.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.5.0
lxml==4.3.4
MarkupSafe==1.1.1
mistune==0.8.4
multidict==4.5.2
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.1.5
numpy==1.16.4
pandocfilters==1.4.2
parso==0.4.0
pickleshare==0.7.5
Pillow==6.0.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
pyecharts-jupyter-installer==0.0.3
Pygments==2.4.2
PyHamcrest==1.9.0
PyJWT==1.7.1
PyMySQL==0.9.3
pyrsistent==0.15.2
PySocks==1.7.0
pytesseract==0.2.7
python-dateutil==2.8.0
pytz==2019.1
pywinpty==0.5.5
pyzmq==18.0.1
qcloud-image==1.0.0
requests==2.22.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.12.0
soupsieve==1.9.1
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
tqdm==4.32.2
traitlets==4.3.2
twilio==6.22.0
urllib3==1.24.1
urwid==2.0.1
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wordcloud==1.5.0
wsproto==0.11.0
xlrd==1.1.0
XlsxWriter==1.1.2
xlwt==1.3.0
yarl==1.2.6
zmail==0.2.2
zope.interface==4.6.0
